@import 'header-variables';
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');


.Header {
  background-color: $background;
  text-align: center;
  height: 100px;
}

h1 {
  font-size: 50px;
  font-family: 'Bungee Shade', cursive;
}

#headerLink {
  color: $text;
  text-decoration: none;
}
