.joke-card {
  margin: 8px;
}

article {
  min-width: 280px;
  max-width: 400px;
  background-color: rgba(0,0,0,0.2);
  color: white;
  font-family: sans-serif;
  padding: 8px;
}

label {
  display: flex;
  justify-content: flex-end;
}
